body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: xx-large;
    margin-left: 50px;
    color: aliceblue;
}

a {
    color: black;
    text-decoration: solid;
    font-family: fantasy;
    font-size: large;
}

nav {
    width: 100%;
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45%;
}

nav h1 {
    padding-left: 0px;
}

nav ul .pages {
    padding-right: 30px;
    list-style: none;
    color: aliceblue;
    background-color: transparent;
    display: flex;
    gap: 15px;
}

nav ul li {
    background-color: peachpuff;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    border-radius: 30px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
}

ul li ul.dropdown li {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li ul.dropdown {
    min-width: fit-content;
    position: absolute;
    z-index: 1;
    padding: 15px 0px;
    display: none;
}

ul li a:hover {
    background-color: darkgoldenrod;
    color: white;
    justify-content: space-between;
}

ul li:hover ul.dropdown {
    display: flex;
}

main {
    width: 80%;
    background-color: peachpuff;
    color: black;
    margin: auto;
    margin-top: 10px;
    border-radius: 17px;
    font-size: larger;
    padding: 20px;
}

main h2 {
    text-align: center;
    padding: 10px;
}

.forhonortrailer {
    margin-left: 260px;
    border-radius: 17px;
}

video {
    border-radius: 17px;
}

.factionboard {
    display: flex;
    margin: auto;
    padding: 10px;
}

.factions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.knightbox {
    background-color: silver;
    width: 30%;
    border-radius: 4%;
    border: 5px solid grey;
    padding: 3px;
    margin-top: 20px;
}

.knightbox:hover {
    background-color: yellow;
    border-radius: 4%;
    border: 5px solid green;
}

.knightbox img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.vikingbox {
    background-color: silver;
    width: 30%;
    border-radius: 4%;
    border: 5px solid grey;
    padding: 3px;
    margin-top: 20px;
}

.vikingbox:hover {
    background-color: red;
    border-radius: 4%;
    border: 5px solid black;
}

.vikingbox img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.samuraibox {
    background-color: silver;
    width: 30%;
    border-radius: 4%;
    border: 5px solid grey;
    padding: 3px;
    margin-top: 20px;
}

.samuraibox:hover {
    background-color: teal;
    border-radius: 4%;
    border: 5px solid brown;
}

.samuraibox img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.wulinbox {
    background-color: silver;
    width: 30%;
    border-radius: 4%;
    border: 5px solid grey;
    padding: 3px;
    margin-top: 20px;
}

.wulinbox:hover {
    background-color: purple;
    border-radius: 4%;
    border: 5px solid goldenrod;
}

.wulinbox img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.outlanderbox {
    background-color: silver;
    width: 30%;
    border-radius: 4%;
    border: 5px solid grey;
    padding: 3px;
    margin-top: 20px;
}

.outlanderbox:hover {
    background-color: turquoise;
    border-radius: 4%;
    border: 5px solid goldenrod;
}

.outlanderbox img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.knightagonist {
    background-color: yellow;
    color: black;
    width: 30%;
    border-radius: 4px;
    border: 2px solid green;
    padding: 5px;
    margin-top: 20px;
}

.knightagonist img {
    width: 100%;
    margin: auto;
}

.vikintagonist {
    background-color: red;
    color: white;
    width: 30%;
    border-radius: 4px;
    border: 2px solid black;
    padding: 5px;
    margin-top: 20px;
}

.vikintagonist img {
    width: 100%;
    margin: auto;
}

.samuratagonist {
    background-color: teal;
    color: white;
    width: 30%;
    border-radius: 4px;
    border: 2px solid brown;
    padding: 5px;
    margin-top: 20px;
}

.samuratagonist img {
    width: 100%;
    margin: auto;
}

.knighthero {
    background-color: yellow;
    color: black;
    width: 38%;
    border-radius: 10px;
    border: 5px solid green;
    padding: 5px;
    margin-top: 20px;
}

.knighthero img {
    width: 100%;
    margin: auto;
}

.outlanderhero {
    background-color: turquoise;
    color: black;
    width: 38%;
    border-radius: 10px;
    border: 5px solid goldenrod;
    padding: 5px;
    margin-top: 20px;
}

.outlanderhero img {
    width: 100%;
    margin: auto;
}

.samuraihero {
    background-color: teal;
    color: white;
    width: 38%;
    border-radius: 10px;
    border: 5px solid brown;
    padding: 5px;
    margin-top: 20px;
}

.samuraihero img {
    width: 100%;
    margin: auto;
}

.vikinghero {
    background-color: red;
    color: white;
    width: 38%;
    border-radius: 10px;
    border: 5px solid black;
    padding: 5px;
    margin-top: 20px;
}

.vikinghero img {
    width: 100%;
    margin: auto;
}

.wulinhero {
    background-color: purple;
    color: white;
    width: 38%;
    border-radius: 10px;
    border: 5px solid goldenrod;
    padding: 5px;
    margin-top: 20px;
}

.wulinhero img {
    width: 100%;
    margin: auto;
}

.classlist {
    width: 800px;
    margin: auto;
}

.classimg {
    height: 500px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.gamemaps {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkgoldenrod;
    border-radius: 17px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.knightmaps {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.knightmaps img {
    height: 100px;
    width: 50%;
    transition: all 0.15s ease;
}

.samuraimaps {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.samuraimaps img {
    height: 100px;
    width: 50%;
    transition: all 0.15s ease;
}

.vikingmaps {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.vikingmaps img {
    height: 100px;
    width: 50%;
    transition: all 0.15s ease;
}

.wulinmaps {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.wulinmaps img {
    height: 100px;
    width: 50%;
    transition: all 0.15s ease;
}

footer {
    background-color: peachpuff;
    margin-top: 20px;
    text-align: center;
}